.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 30px;
}

.login-button-top {
    margin-top: 8px;
}

.comment-top {
    margin-top: 50px;
}

.small-col {
    width: 65%;
}

.pencil-right {
    padding-left: 57%;
}

.save-profile {
    margin-top: 10px;
}